<h2>Volunteers in the Database</h2>

<a href= '/volunteers/new'>Add Volunteer</a>
<table class="volunteers">
  <% if @volunteers.any? %>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Profile Link</th>
    </tr>
    <% @volunteers.each do |volunteer| %>
      <tr="volunteer">
        <td><%= volunteer.name %></td>
        <td><%= volunteer.tel %></td>
        <td><%= volunteer.email %></td>
        <td><%= link_to "Profile for #{volunteer.name}", volunteer_path(volunteer) %></td>
      </tr>
    <% end %>
  <% else %>
      <tr><%= "There are no volunteers yet!" %></tr>
  <% end %>
</table>
