<h2>Volunteers in the Database</h2>

<a href= '/volunteers/new'>Add Volunteer</a>
<div class="volunteers">
  <% if @volunteers.any? %>
    <% @volunteers.each do |volunteer| %>
      <div class="volunteer">
        <%= volunteer.name %>
        <%= volunteer.tel %>
        <%= volunteer.email %>
        <%= link_to "See Profile for #{volunteer.name}", volunteer_path(volunteer) %>
      </div>
    <% end %>
  <% else %>
      <h2><%= "There are no volunteers yet!" %></h2>
  <% end %>
</div>
